.container {
    text-align: center;
    width:400px;
    height:660px;
    background-color:darkgrey;
    border:2px solid #CCCCCC;
    margin:auto;
    padding-left:5px;
    padding-bottom:5px;
}

button {
    height: 80px;
    width: 80px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 24px;
    text-decoration: solid;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: darkkhaki;
}

button:hover {
    background-color: palegoldenrod;
}

button:focus {
    outline: transparent;
}

input {
    width: 128px;
    height: 40px;
    font-size: 24px;
    text-decoration: solid;
    text-align: center;
}

#operand {
    width: 65px;
    text-align: center;
}

.operand {
    background-color: darkorange;
}

.operand:hover {
    background-color: #985f0d;
}

#answer {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 330px;
    height: 40px;
}

#equals {
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

#equals:hover {
    background-color: #77AF00;
}

#clear:hover {
    background-color: red;
}
}