body {
    background-color: darkgreen;
}
.container {
    background-color: #EEEEEE;
}
.jumbotron {
    padding-bottom: 5px;
    text-align: center;
}
.form-check-input {
    align-items: center;
    padding-bottom: 10px;
}
.pizzaturtle{
    padding-top: 30px;
}
.btn {
    margin-bottom: 30px;
}
#footer{
    text-align: center;
}